.error {
  position: relative;
  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  .error-block {
    display: flex;
    height: 700px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.biglogo {
  width: 220px;
}

.notfound {
  font-size: 58px;
  margin-bottom: 0px;
}

.returnhome {
  font-size: 23px !important;
  color: red !important;
  text-decoration: underline;
}
