.welcome-block {
    .welcome-user{
        font-weight: 500;
        font-size: 48px;
        .user--name {
            color: #E60000;
        }
    }
    .welcome-goals{
        font-weight: normal;
        font-size: 18px;
    }
}
