.nav-left {
  grid-column: 1;
  background-color: black;
  width: 100%;
  height: 100%;
  z-index: 2;
  ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 65%;
    gap: 15px;
  }
  .nav-logo {
    cursor: pointer;
  }
  .copiryght {
    height: 35%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: rotate(-90deg);
  }
  .copiryght > p {
    color: white;
    font-size: 10px;
    vertical-align: top;
  }
}
