.barchart-tooltip {
  background-color: red;
  color: white;
  min-height: 75px;
  max-height: 75px;
  min-width: 50px;
  max-width: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 10px;
  font-weight: 800;
}
