.sessions-length {
  .linechart-tooltip {
    background-color: white;
    color: black;
    min-height: 25px;
    max-height: 25px;
    min-width: 40px;
    max-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8px;
  }
}
