body {
  margin: 0;
  font-family: "Roboto" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  &:visited {
    color: inherit
  }
}


@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url(./fonts/Roboto-Regular.ttf) format('truetype');
  /*formats : 'woff', 'woff2', 'truetype, 'opentype','embedded-opentype', and 'svg' */
}