body {
  margin: 0;
  font-family: "Roboto" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul,
ol,
li {
  list-style: none;
  margin: 0;
}

svg {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

a {
  text-decoration: none;
  &:visited {
    color: inherit;
  }
}

#root {
  display: grid;
  grid-template-columns: 8% 92%;
  grid-template-rows: 90px auto;
}

:root {
  min-width: 1024px;
  max-width: 1440px;
  min-height: 780px;
  max-height: 1024px;
  margin-left: auto;
  margin-right: auto;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url(./fonts/Roboto-Regular.ttf) format("truetype");
  /*formats : 'woff', 'woff2', 'truetype, 'opentype','embedded-opentype', and 'svg' */
}
